@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 135 10% 4%;
    --card: 0 0% 100%;
    --card-foreground: 135 10% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 135 10% 4%;
    --primary: 135 58% 41%;
    --primary-foreground: 135 10% 95%;
    --secondary: 135 5% 81%;
    --secondary-foreground: 135 30% 10%;
    --muted: 135 5% 81%;
    --muted-foreground: 135 30% 45%;
    --accent: 258 100% 82%;
    --accent-foreground: 258 50% 10%;
    --destructive: 357.18 100% 45%;
    --destructive-foreground: 135 10% 95%;
    --border: 135 5% 80%;
    --input: 135 5% 80%;
    --ring: 135 58% 41%;
    --radius: 1rem;
    --chart-1: 135 58% 41%;
    --chart-2: 135 70% 60%;
    --chart-3: 135 60% 70%;
    --chart-4: 135 85% 30%;
    --chart-5: 135 85% 20%;
    --sidebar-background: 135 5% 81%;
    --sidebar-foreground: 135 30% 10%;
    --sidebar-primary: 135 58% 41%;
    --sidebar-primary-foreground: 135 10% 95%;
    --sidebar-accent: 258 100% 82%;
    --sidebar-accent-foreground: 258 50% 10%;
    --sidebar-border: 135 5% 80%;
    --sidebar-ring: 135 58% 41%;
  }

  .dark:root {
    --background: 258 30% 10%;
    --foreground: 258 10% 95%;
    --card: 258 30% 14%;
    --card-foreground: 258 10% 95%;
    --popover: 258 30% 14%;
    --popover-foreground: 258 10% 95%;
    --primary: 258 90% 66%;
    --primary-foreground: 258 10% 95%;
    --secondary: 258 30% 30%;
    --secondary-foreground: 258 10% 95%;
    --muted: 258 30% 30%;
    --muted-foreground: 258 15% 65%;
    --accent: 135 59% 34%;
    --accent-foreground: 135 10% 90%;
    --destructive: 357.18 100% 45%;
    --destructive-foreground: 258 10% 95%;
    --border: 258 35% 30%;
    --input: 258 35% 30%;
    --ring: 258 90% 66%;
    --sidebar-background: 258 30% 22%;
    --sidebar-foreground: 258 10% 95%;
    --sidebar-primary: 258 90% 66%;
    --sidebar-primary-foreground: 258 10% 95%;
    --sidebar-accent: 135 59% 34%;
    --sidebar-accent-foreground: 135 10% 90%;
    --sidebar-border: 258 35% 30%;
    --sidebar-ring: 258 90% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}