@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 274.73 27.1% 86.41%;
    --foreground: 359.96 25.87% 1.57%;
    --card: 275.29 29.89% 77.68%;
    --card-foreground: 359.92 35.11% 0.58%;
    --popover: 276 27.56% 75.1%;
    --popover-foreground: 345.13 3.47% 2%;
    --primary: 345.13 4.1% 1.2%;
    --primary-foreground: 0 100% 99.83%;
    --secondary: 276.05 100% 49.94%;
    --secondary-foreground: 345.1 0% 100%;
    --muted: 275.45 8.72% 51.01%;
    --muted-foreground: 344.96 2.17% 5.14%;
    --accent: 267.55 100% 64.18%;
    --accent-foreground: 345.1 0% 100%;
    --destructive: 359.87 100% 51.76%;
    --border: 320 0% 89.82%;
    --input: 275.01 9.79% 51.37%;
    --ring: 267.55 100% 64.18%;
    --chart-1: 121.47 58.13% 27.27%;
    --chart-2: 149.94 79.51% 38.45%;
    --chart-3: 176.32 100% 12.66%;
    --chart-4: 184.05 29.22% 49.47%;
    --chart-5: 226.61 81.8% 68.93%;
    --sidebar: 273.92 22.62% 79.88%;
    --sidebar-foreground: 359.92 35.11% 0.58%;
    --sidebar-primary: 274.44 43.99% 76.08%;
    --sidebar-primary-foreground: 345.13 2.98% 3.15%;
    --sidebar-accent: 275.75 25.2% 63.3%;
    --sidebar-accent-foreground: 330 0% 9.05%;
    --sidebar-border: 320 0% 89.82%;
    --sidebar-ring: 275.29 35.61% 71.93%;
    --radius: 0.625rem;
  }

  .dark:root {
    --background: 244.6 7.44% 33.9%;
    --foreground: 240 0% 98.03%;
    --card: 257.19 10.82% 13.14%;
    --card-foreground: 240 0% 98.03%;
    --popover: 244.24 18.17% 14.87%;
    --popover-foreground: 240 0% 98.03%;
    --primary: 244.84 74.34% 73.92%;
    --primary-foreground: 0.01 12.14% 3.16%;
    --secondary: 147.79 34.39% 46.7%;
    --secondary-foreground: 345.13 2.85% 3.59%;
    --muted: 244.24 47.69% 29.26%;
    --muted-foreground: 266.99 18.99% 79.54%;
    --accent: 245.45 31.7% 40.79%;
    --accent-foreground: 359.99 5.38% 62.76%;
    --destructive: 358.73 57.03% 49.24%;
    --border: 250.31 21.32% 32.41%;
    --input: 237.52 37.25% 61.71%;
    --ring: 147.79 34.39% 46.7%;
    --chart-1: 245.15 62.74% 39.27%;
    --chart-2: 261.05 65.26% 52.73%;
    --chart-3: 290.46 99.49% 49.57%;
    --chart-4: 0.01 19.11% 48.95%;
    --chart-5: 345.08 0.33% 51.79%;
    --sidebar: 246.67 12.69% 13.88%;
    --sidebar-foreground: 240 0% 98.03%;
    --sidebar-primary: 245.04 51.06% 58.97%;
    --sidebar-primary-foreground: 240 0% 98.03%;
    --sidebar-accent: 248.86 13.31% 39.37%;
    --sidebar-accent-foreground: 240 0% 98.03%;
    --sidebar-border: 300 50% 100% / 10%;
    --sidebar-ring: 330 0% 32.2%;
    --radius: 0.625rem;
  }

  /* :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 63%;
    --radius: 0.625rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark:root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 70.9% 59.4%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 300 0% 45%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-foreground: var(--text-foreground);
  --color-text-base: var(--text-base);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}